body{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

nav{
    width: 1128px; height: 52px;
    margin: auto;
    padding-top: 12px; padding-bottom: 16px;
}

main{

}

section{
    max-width: 1128px;
    width: 1128px; height: 560px;
    margin: auto;
    padding-top: 48px;
    display: flex;
}

a, span{
    font-weight: bold;
}

h1{
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    color:gray;
    /* white-space:nowrap; */
}

.start{
    width: 55%;
    padding-right: 48px;
    flex-shrink:0;
}

.start-img{
    height: 560;
}

.login-block{
    width: 400px; height: 200px;
    margin-bottom: 24px;
    padding: 4px;
}

.login-button{
    width: 390px; height: 38px;
    margin-top: 24px;
    padding: 2px 10px;
    border: gray solid; border-width: 1px; border-radius: 25px;;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.google-logo{
    width: 18px; height: 18px;
    margin-right: 8px;
}

.login-text1{
    width: 400px; height: 48px;
    margin-top: 24px;;
    padding-bottom: 16px;
    text-align: center;
}

.login-text2{
    width: 400px; height: 48px;
    margin: 16px;
    text-align: center;
}

footer{
    width: 1128px; height: 52px;
    margin: auto;
}

